
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agustina';
  src: url('../public/Agustina-Signature.otf') format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name-app {
  font-family: 'Agustina', sans-serif;
  font-size: 1.5rem;
}

/* modal */
.ant-modal .ant-modal-content {
  background-color: transparent;
  border-radius: 20px !important;
}

/* input */
.ant-input-outlined {
  height: 50px;
  border: none;
  border-right: 1px solid gray;
}

/* selection */


/* spin */
.white-spinner .ant-spin-dot-item {
  background-color: white !important;
}

/* set hero-img hidden want screen 1044 */
@media (max-width: 1044px) {
  .hero-img {
    display: none;
  }
}

